body {
    background-color: #0D0D0D;
    display: flex;
    justify-content: center;
}
.contenedor-principal {
    background-color: #1A1A1A;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin: 2% 0;
    border-radius: 30px;
    border-width: 1px;
    border-color: #D4AF37;
    border-style: solid;
}
header {
    display: flex;
    align-self: center;
}
main {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}
.cont {
    background-color: #0D0D0D;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;

}
h2 {
    margin: 0;
    color: #B3B3B3;
    font-family: lato;
    font-weight: 300;
}

p {
    margin: 0;
    color: #B3B3B3;
    font-family: lato;
    font-weight: 300;
}
h1 {
    color: #D4AF37;
    font-family: lato;
    font-weight: 300;
    font-size: 48px;
}
    .contenedor123 {
        background-color: #1A1A1A;
        margin: 4% 2%;
        border-radius: 10px;
        padding: 0 10px;
        max-height: fit-content;
        justify-self: flex-start;
    }
    .copy {
        background-color: #1A1A1A;
        margin: 4% 2%;
        border-radius: 10px;
        padding: 0 10px;
        cursor: pointer;
    }
    .contenedor {
        text-align: center;
        padding: auto;
        margin: auto;
    }
.cont6 {
    justify-content: center;
    padding: 10px 0;
}
.cont7 {
    justify-content: center;
    padding: 10px 0;
}
.cont8 {
    background-color: #0D0D0D;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.cont:hover {
    border: 1px solid #D4AF37;
}
.cont:hover h2 {
    color: #D4AF37;
    font-weight: 600;

}
a {
    text-decoration: none;
    color: #B3B3B3;
}
a:hover {
    color: #D4AF37;
    transform: scale(1.1);
}
.icono-potrero {
    text-decoration: none;
    position: absolute;
    top: 295px;
    left: 30%;
    font-size: 20px;
}

.a-icon {
    color: #B3B3B3;
}
.a-icon:hover {
    color: #D4AF37;
    font-size: 25px;
}
.icono-git {
    text-decoration: none;
    position: absolute;
    top: 385px;
    left: 30%;
    font-size: 20px;
}
